@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
font-family: 'PT Sans', sans-serif;
background-color: #afeaed;
}

header{
text-align: center;
width: 90%;
font-weight: bold;
background-color: #000;
margin-left: 5%;
margin-right: 5%;
}

#contenedor{
width: 90%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
background-color: white;
position: center;
margin-left: 5%;
margin-right: 5%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.separador{
height: 75px;
background-color: #497375;
display: flex;
justify-content: center;
text-decoration: none;
align-items: center;
font-family: 'PT Sans', sans-serif;
font-size: 20px;
letter-spacing: 0.05em;
position: sticky;
}

.separador a{
color: white;
text-decoration: none;
padding: 5%;
font-size: 25px;
transition: 1.5s;
}

.separador a:hover{
color: #000;
transform: scale(1.25);
}

.delpo1{
width: 100%;
}

.delpo2{
width: 100%;
}

.delpo3{
width: 100%;
}

.delpo4{
width: 100%;
}

.delpo2 h2{
font-weight: bold;
font-size: 45px;
}	

.delpo2 ul{
letter-spacing: 0.08em;
margin: 5%;
font-size: 18px;
font-family: 'PT Sans', sans-serif;
text-align: center;
}

.delpo2 h3{
font-size: 30px;
text-align: center;
margin: 3%;
}

.delpo2 p{
font-size: 20px;
text-align: center;
letter-spacing: 0.09em;
}

.delpo3 p{
font-size: 18px;
text-align: center;
letter-spacing: 0.09em;
margin: 3%;
}

.delpo4 p{
font-size: 25px;
text-align: center;
font-weight: bold;
margin: 5%;
}

.delpo4 a{
color: #000;
text-decoration: none;
}

.h1{
font-size: 26px;
background-color: #60cbd1;
font-weight: bold;
border: 5%;
text-align: center;
}

.h2{
font-size: 25px;
background-color: #2acbd4;
border: 5%;
padding-top: 5%;
text-align: center;
}

.h3{
font-size: 24px;
background-color: #8dedf2;
border: 5%;
padding: 5%;
text-align: center;
}

.h4{
font-size: 30px;
background-color: #8dedf2;
border: 5%;
padding: 5%;
text-align: center;
}

.delpo1 img{
width: 30%;
margin: 1%;
}

.image{ 
padding-top: 5%;
padding-bottom: 5%;
margin-left: 5%;
}

.image img{
width: 30%;
margin-left: 10%;
}

@media screen and (min-width:561px) and (max-width:960px){
header{
text-align: center;
width: 90%;
font-weight: bold;
background-color: #000;
margin-left: 5%;
margin-right: 5%;
}

body{
font-family: 'PT Sans', sans-serif;
background-color: #afeaed;
}

#contenedor{
width: 90%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
background-color: white;
position: center;
margin-left: 5%;
margin-right: 5%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.separador{
height: 75px;
background-color: #497375;
display: flex;
justify-content: center;
text-decoration: none;
align-items: center;
font-family: 'PT Sans', sans-serif;
font-size: 20px;
letter-spacing: 0.05em;
position: sticky;
}

.separador a{
color: white;
text-decoration: none;
padding: 5%;
font-size: 20px;
transition: 1.5s;
}

.separador a:hover{
color: #000;
transform: scale(1.25);
}

.delpo1{
width: 100%;
}

.delpo2{
width: 100%;
}

.delpo3{
width: 100%;
}

.delpo4{
width: 100%;
}

.h1{
font-size: 26px;
background-color: #60cbd1;
font-weight: bold;
border: 5%;
text-align: center;
}

.h2{
font-size: 25px;
background-color: #2acbd4;
padding-top: 2%;
text-align: center;
}

.h3{
font-size: 24px;
background-color: #8dedf2;
border: 5%;
padding: 5%;
text-align: center;
}

.h4{
font-size: 30px;
background-color: #8dedf2;
border: 5%;
padding: 5%;
text-align: center;
}

.delpo1 h3{
font-size: 20px;
text-align: center;
}

.delpo2 h3{
font-size: 30px;
text-align: center;
margin: 3%;
}

.delpo2 p{
font-size: 18px;
text-align: center;
letter-spacing: 0.09em;
}

.delpo3 p{
font-size: 18px;
text-align: center;
letter-spacing: 0.15em;
margin: 3%;
}

.delpo4 p{
font-size: 20px;
text-align: center;
font-weight: bold;
margin: 5%;
}

.delpo4 a{
color: #000;
text-decoration: none;
}

.info{
padding: 5%;
}

.delpo1 img{
width: 30%;
}

.info1{
padding: 5%;
}

.image{ 
padding-top: 5%;
float: center;
padding-bottom: 5%;
margin-left: 5%;
}

.image img{
width: 30%;
margin-left: 10%;
}


}

@media screen and (min-width:0px) and (max-width:560px){
header{
text-align: center;
width: 90%;
font-weight: bold;
background-color: #000;
margin-left: 5%;
margin-right: 5%;
}

body{
font-family: 'PT Sans', sans-serif;
}

.separador{
display: none;
}

#contenedor{
width: 90%;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
background-color: #50ebf2;
position: center;
margin-left: 5%;
margin-right: 5%;
}

.delpo1{
width: 100%;
}

.delpo2{
width: 90%;
margin-left: 5%;
margin-right: 5%;
}

.delpo4{
width: 100%;
}

.h1{
font-size: 15px;
background-color: #60cbd1;
font-weight: bold;
border: 10%;
}

.h2{
font-size: 19px;
background-color: #2acbd4;
text-align: center;
border: 5%;
padding-top: 2%;
}

.h3{
font-size: 18px;
background-color: #8dedf2;
border: 5%;
padding: 5%;
text-align: center;
}

.h4{
font-size: 18px;
background-color: #8dedf2;
padding: 5%;
text-align: center;
}

.delpo2 h2{
font-size: 30px;
}

.delpo2 h3{
font-size: 19px;
}

.delpo2 p{
font-size: 17px;
}

.delpo3 h3{
font-size: 30px;
}

.delpo3 h4{
font-size: 30px;
}

.delpo3 p{
font-size: 15px;
text-align: center;
letter-spacing: 0.09em;
}

.image img{
width: 80%;
}

.delpo1 img{
width: 80%;
margin-right: 5%;
}

{ }	